/****************************** Custom colors rewrite */

$brand-primary: #232F37;
$brand-secundary: #d50c2f;

$gray-dark: #8E8E8E !default;

$marketplace-grey: #232F37;
$marketplace-grey-40: rgba(35, 47, 55, 0.4);
$marketplace-white: #ffffff;
$marketplace-red: #d50c2f;

/****** Variables */
$corporate-font-family-sans-serif-Regular: "crosstenlight" !default;
$corporate-font-family-sans-serif-Medium:   "crosstenlight" !default;