header.navbar.navbar-fixed-top {   
    height: 200px;
    position: relative;

    background-color: transparent;
    border: none;
    color: $marketplace-white;
    font-family: "crosstenlight";
    box-shadow: none;

    z-index: 0;

    .container-fluid {
        max-width: 100%;
        padding-left: 0px;

        .navbar-header {
            margin-top: 0px;
            
            .logo-header {
                background-clip: border-box;
                background-image: url(/img/aimarketplace/Hexagon.svg);
                background-repeat: no-repeat;
                background-size: 2000px auto;
                background-position: -1650px -620px;
                padding-top: 40px;
        
                padding-right: 140px;
                margin-right: -140px;
                padding-bottom: 200px;
                margin-bottom: -200px;
        
                .brand {
                    background-size: auto 110px;
                    width: 200px;
                    height: 110px;
                    margin-left: 20px;
                }
        
                .brand-text {
                    display: none;
                }
            }
        }
    
        #profile_editor_switcher .dropdown-toggle {
            color: $marketplace-white;
        }
    }
}
