.presentation {
	section.media {
		@include modal-box;
		background-color: white;
		height: auto;

		h3 {
			@include headline;
		}
	
		span {
			margin: 20px;
			@include copy;
		}
	
		p {
			display: none;
		}
	
		a.btn.btn-default {
			@include button-red;			
		}
	
		a.btn.btn-default.sign_up {
			display: none;
		}
	
		footer {
			margin-top: 70px;
			margin-bottom: 40px;
			display: flex;  
			flex-direction: column-reverse;
		}
	}
}