.registration {
	@include modal-box;

	.modal-header {
		@include modal-header()
	}

	.modal-body {
		@include modal-body();

		div#gravatar-checkbox {
			display: none;
		}
	}

	.modal-footer {
		border: none;
		display: flex;
		flex-direction: column;
		height: auto;
		margin-top: 0px;

		label.conditions {
			margin-left: 0px;
			
			a {
				color: $marketplace-red;
			}
		}

		@include a;

		button.btn.btn-primary.pull-right {
			@include button-red;
			margin-bottom: 40px;
		}
	}
}

.remember-password {
	@include modal-box;
	min-width: 500px;

	.modal-header {
		@include modal-header()
	}

	.modal-body {
		@include modal-body();
	}

	.modal-footer {
		border: none;
		button.btn.btn-primary {
			@include button-red;
			margin-bottom: 40px;
		}

		@include a;
	}
}

.resend-confirmation-instructions {
	@include modal-box;
	min-width: 400px;

	.modal-header {
		@include modal-header();

		h3 {
			display: inline;
			line-break: auto;
			border-width: 0px;
		}

		border-bottom-width: 1px;
		border-bottom-color: $marketplace-red; 
	}

	.modal-body {
		@include modal-body();
	}

	.modal-footer {
		border: none;

		button.btn.btn-primary {
			@include button-red;
			margin-bottom: 40px;
			width: auto;
		}

		@include a;
	}
}

.footer-main {
	ul.lang_options li a{
		color: white
	}
}